<!--<mat-form-field class="datePicker">
  <input matInput [matDatepicker]="customIcon" placeholder="Choose a date" />
  <mat-datepicker-toggle matSuffix [for]="customIcon">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #customIcon></mat-datepicker>
</mat-form-field>-->
<mat-form-field class="datePicker">
  <input matInput [matDatepicker]="customIcon" placeholder="choisir une date" />
  <mat-datepicker-toggle matSuffix [for]="customIcon">
    <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #customIcon></mat-datepicker>
</mat-form-field>


