/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";
.colorBody {
    background-color: rgba(44, 142, 236, 0.13);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c8eec;/*#5161ce ;*/ 
    padding: 1em;
  }
  nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
  }
  #logo {
    font-size: 1.2em;
    font-weight: 600;
  }
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
  }
  label {
    display: none;
    cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin-right: 300px;  }
  ul a {
    padding: 0.5em;
  }
  ul a:hover {
    border-bottom: 2px solid #ffffff;
  }
  .active {
    border-bottom: 2px solid #ffffff;
  }
  @media screen and (max-width: 600px) {
    label {
      display: block;
    }
    ul {
      font-size: 1.2em;
      position: absolute;
      left: -100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #333333;
      gap: 2em;
      top: 60px;
      width: 100%;
      height: calc(100vh - 60px);
      transition: 0.5s;
    }
    input[type="checkbox"]:checked ~ ul {
      left: 0;
    }
    ul a:hover {
      background-color: #2c8eec;
    }
  }
  
.tab{
  margin-left: 100px;
  width: 1237px;
  margin-top: -20px;
}
  /* END Loader style */
  .blue-icon {
    color: #2c8eec; /* Couleur bleue */
  }
/*******************************************************************************/

  
  /* Loader style */
  
  .loading {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  /* Loader style */
  .loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #2c8eec;
    box-sizing: border-box;
    animation: rotation 1s linear infinite; /* Augmentation de la durée de l'animation rotation à 3 secondes */
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #2c8eec;
    border-radius: 50%;
    animation: animloader 3s infinite ease-in-out; /* Augmentation de la durée de l'animation animloader à 3 secondes */
  }
  .loader::before {
    background-color: #000;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  
  @keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
    }
  }

.dateAvancement{
  margin-left: 292px;
  width: 100px;
  margin-top: -547px;
  position: absolute;
 /* margin-left: 234px;
  margin-top: -530px;*/
}

.classDeconnexion{
  color: #fff; cursor: pointer;
}